@import "bootstrap";

thead > tr {
  background: #f9f9f9;
}

.pagination {
  margin: 10px 0;
}

.pagination .summary {
  float: left;
  padding-left: 10px;
}

.pagination ul {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}