<!DOCTYPE html>
<html>
<head>
  <title>星火路芭蕉</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <%= stylesheet_link_tag "staffs", :media=>"all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
